[submodule "imports/nixpkgs"]
	path = imports/nixpkgs
	url = https://github.com/nixos/nixpkgs-channels
[submodule "imports/home-manager"]
	path = imports/home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs"]
	shallow = true
[submodule "home-manager"]
	shallow = true
[submodule "imports/github/balsoft/lambda-launcher"]
	path = imports/github/balsoft/lambda-launcher
	url = https://github.com/balsoft/lambda-launcher
[submodule "imports/github/msva/mva-overlay"]
	path = imports/github/msva/mva-overlay
	url = https://github.com/msva/mva-overlay
[submodule "imports/github/rycee/home-manager"]
	path = imports/github/rycee/home-manager
	url = https://github.com/rycee/home-manager
[submodule "imports/github/serokell/nixfmt"]
	path = imports/github/serokell/nixfmt
	url = https://github.com/serokell/nixfmt
[submodule "imports/github/terodom/termNote"]
	path = imports/github/terodom/termNote
	url = https://github.com/terodom/termNote
[submodule "imports/github/dawikur/base16-gruvbox-scheme"]
	path = imports/github/dawikur/base16-gruvbox-scheme
	url = https://github.com/dawikur/base16-gruvbox-scheme
[submodule "imports/github/ryanoasis/nerd-fonts"]
	path = imports/github/ryanoasis/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
[submodule "imports/github/nana-4/materia-theme"]
	path = imports/github/nana-4/materia-theme
	url = https://github.com/nana-4/materia-theme
[submodule "imports/github/BlackCapCoder/compton"]
	path = imports/github/BlackCapCoder/compton
	url = https://github.com/BlackCapCoder/compton
